PUSHPAY_CHMS_API_BASE_URL=url
PUSHPAY_CHMS_API_USERNAME=username
PUSHPAY_CHMS_API_PASSWORD=password

TENANT_ID='tenant-id'
FIREBASE_PROJECT_ID='project-id'

PUSHPAY_GIVING_API_BASE_URL='base-url'
PUSHPAY_AUTH_TOKEN_API_BASE_URL='auth-token-base-url'
PUSHPAY_AUTH_TOKEN_USERNAME='username'
PUSHPAY_AUTH_TOKEN_PASSWORD='password'
TRCSF_ORGANIZATION_ID='organization-id'
TRCSF_SPECIAL_MISSIONS_KEY='special-missions-key'
TRCSF_WEEKLY_CONTRIBUTION_KEY='weekly-contribution-key'
TRCSF_BENEVOLENCE_KEY='benevolence-key'